@charset "UTF-8";

body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20 px;
}
h1 {
  color: lightcoral;
}
h2 {
  color: lightblue;
}
p {
  text-align: justify;
}
