@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient( 45deg, #BEBFB4, #BE9F82);
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin:auto;
    box-shadow: 5px 5px 15px #be9f82b6;
}

h1{
    text-align: center;
    color: #454d72;
    text-shadow: 1px 1px 2px #454d72;
}

h2{
    color: #b1caeb;
}

p{
    text-align: justify;
}